# OS
.DS_Store

# IDE
.vscode/*
*.code-workspace
.idea/*

# Local History for Visual Studio Code
.history/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Rust build
target/
# Go build
bin/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

log/
*.log

config/*.toml
chain-indexing
!*/chain-indexing/
check-password-strength
!*/check-password-strength/

pgdata*
**/.git
.github
