name: deploy

on: [push, pull_request]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - name: Install dependency
      run: |
        sudo apt update -y
        sudo apt install build-essential -y
    - uses: actions/setup-go@v2
      with:
        go-version: '1.16'
    - name: Install golangci-lint
      run: |
        # binary will be $(go env GOPATH)/bin/golangci-lint
        curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.33.0
    - name: Env
      run: |
        go version
        golangci-lint --version
    - uses: actions/checkout@v2
    - name: Run check linting
      run: GOLANGCI_LINT_PATH="$(go env GOPATH)/bin/golangci-lint" ./lint.sh

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@v2
      with:
        go-version: '1.16'
    - name: Env
      run: |
        go version
        cargo --version
        rustc --version
    - uses: actions/checkout@v2
    - name: Run test cases
      run: ./test.sh run --install-dependency

  # build:
  #   name: Test Building Docker Image
  #   runs-on: ubuntu-latest
  #   needs: ["lint", "test"]
  #   steps:
  #   - name: Env
  #     run: |
  #       docker version
  #   - uses: actions/checkout@v2
  #   - name: Build Docker Image
  #     run: |
  #       docker build .
