name: test

on: [push, pull_request]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@v2
      with:
        go-version: '1.22.0'
    - name: Env
      run: |
        go version
        cargo --version
        rustc --version
    - uses: actions/checkout@v2
    - name: Run test cases
      run: make test

  # build:
  #   name: Test Building Docker Image
  #   runs-on: ubuntu-latest
  #   needs: ["lint", "test"]
  #   steps:
  #   - name: Env
  #     run: |
  #       docker version
  #   - uses: actions/checkout@v2
  #   - name: Build Docker Image
  #     run: |
  #       docker build .
